.nt_nav{ background: white; }
.nt_barnav{background: #54d9e0; color: white;}
.nt_app{font-size: 0.6rem; padding-top: 0.65rem; font-weight: 160;}
.item-content { padding-top: 1rem; }
.content-block{padding: 0; }
.buttons-tab{ margin-bottom: -1.3rem;}
.nt_list-block{  margin: 0; padding: 0 0;}
.nt_item-content{ padding: 1.6rem; }
.list-block .item-inner:after{   background-color: white;}

.buttons-tab .button.active{border-color: transparent; color: black;  }
.buttons-tab .button{color: #D0D0D0;}
.sorts{border-bottom: 3px solid #F1E85C;}

